/* make sure to comment on all or most of thes l8r maxi*/

html{
    background-image: url("eye_mages/bggradient.jpg");
}

body{
    margin: 0;
    padding: 0;
    margin-inline: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, /*this is oddly complicated, referenced a stack overflow answer to use gradients for multiple solid color backgrounds */
        rgba(236, 236, 236,0) 15%, 
        rgb(204, 204, 204)  15%, 
        rgb(204, 204, 204)  40%, 
        rgb(204, 204, 204)  40%, 
        rgb(204, 204, 204)   60%, 
        rgb(204, 204, 204) 60%, 
        rgb(204, 204, 204) 85%, 
        rgba(236, 236, 236,0) 85%,
        rgba(236, 236, 236,0) 100%
     );
}
h1{
    color:rgb(61, 61, 194);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    margin-top: 30px;
}

h4{
    color:darkcyan;
    text-align: center;
    padding: 0;
    margin: 20px;
    font-size: 20px;
}

h6{
    color: rgb(49, 107, 129);
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-family: 'Trebuchet MS';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
  position: fixed;
  min-width: 100%;
}

p{
    color: rgb(67, 113, 173);
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 22px;
}


nav ul {
    list-style-type: none;
    margin: 20;
    padding: 20;
}

h2, p {
  margin: 10px;
}

ul {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li a {
  display: block;
  color: white;
  padding: 15px 120px;
  text-decoration: none;
}
ul li b {
  display: block;
  color: red;
  padding: 15px 120px;
  text-decoration: none;
}
.button { /*taken from w3schools and modified for visuals*/
  background-color: rgb(95, 137, 199);
  border: none;
  color: white;
  padding: 24px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  border-radius: 25px;
}

.item{
    background-color: rgb(214, 214, 213);
    margin-left: 15%;
    margin-right: 15%;
    border-top: 3px solid darkcyan;
    padding: 18px;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-column: span 2;
}

.item2{
    background-color: rgb(204,204,204);
    margin-left: 15%;
    margin-right: 15%;
    border-top: 3px solid darkcyan;
    padding: 18px;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-column: span 2;
}

.item3{
    background-color: rgb(204,204,204);
    padding: 16px;
    font-size: 32px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
